.title {
    color:red;
    background-color: yellow;
}
.title1 {
    text-align: center; 
    background-color: green;
}
.title2 {
    color:aqua
}
.title3 {
    background-color:blue
}
.title4 {
    background-color: blanchedalmond;
}
.title5 {
    text-align: center;
    color:blue
}